name: Build and Release Tauri App

on:
  push:
    branches:
      - vercel-deployment # Adjust this to your preferred branch

jobs:
  build:
    runs-on: macOS-latest # Changed to macOS runner

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Install Rust
        run: |
          curl https://sh.rustup.rs -sSf | sh -s -- -y
          source $HOME/.cargo/env
          cargo install tauri-cli --force 

      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '14' # Adjust this to your project's Node.js version

      - name: Install npm dependencies
        run: npm install

      - name: Build React app
        run: npx expo export:web

      - name: Build Tauri app
        run: |
          source $HOME/.cargo/env
          cd src-tauri
          cargo tauri build

      - name: Upload Artifact
        uses: actions/upload-artifact@v2
        with:
          name: tauri-app
          path: src-tauri/target/release/bundle/dmg/* # Adjust this path if necessary

      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        with:
          tag_name: ${{ github.ref }}
          release_name: Release ${{ github.ref }}
          draft: false
          prerelease: false

      - name: Upload Release Asset
        uses: actions/upload-release-asset@v1
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./src-tauri/target/release/bundle/dmg/tablet-clone.dmg # Replace with actual path and file extension
          asset_name: tablet-clone.dmg # Replace with actual file name and extension
          asset_content_type: application/octet-stream # Adjust if necessary
