name: Build and Release Tauri App

on:
  push:
    branches:
      - vercel-deployment # Adjust this to your preferred branch

jobs:
  build:
    runs-on: ubuntu-latest # You can specify another OS if needed

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Install dependencies
        run: |
          sudo apt update
          sudo apt install -y libwebkit2gtk-4.0-dev
          curl https://sh.rustup.rs -sSf | sh -s -- -y
          source $HOME/.cargo/env
          cargo install tauri-cli --force # Updated this line

      - name: Install Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '14' # Adjust this to your project's Node.js version

      - name: Install npm dependencies
        run: npm install

      - name: Build React app
        run: npx expo export:web # Adjust this to your project's build command

      - name: Build Tauri app
        run: |
          source $HOME/.cargo/env
          cd src-tauri
          cargo tauri build --release

      - name: Upload Artifact
        uses: actions/upload-artifact@v2
        with:
          name: tauri-app
          path: src-tauri/target/release/bundle/* # Adjust this path if necessary
